@font-face {
	font-family: "Neo Sans Pro";
	src: url('font/NeoSansPro-light.otf');
}

html, body {
	height: 100vh;
	overflow: hidden!important;
	font-family: 'Neo Sans Pro';
}

body{
	background-image: url(images/background2019_2.jpg);
	/*background-size: auto 100%; */
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center bottom;
	/*background:black;*/
}

a{
	text-decoration: none;
}

h2{
	text-transform: uppercase;
	margin-bottom: 0%;
}

h3{
	text-transform: uppercase;
	margin-top: 40%;
	text-decoration: inherit;
	color:#000;
}

ul{
	margin-top: 2%;
}

li{
	display: inline-block;
	/*border: solid 1px;
	border-color: #000;*/
	/*padding:50px;*/
	margin: 20px 20px;
	width: 200px;
	height: 200px;
}
a#logo{
	display: flex;
	justify-content: center;
	margin: 30px 0 50px;
}
a#logo img{
	/*top:40px;
	left:50%;
	position: absolute;
	margin-left:-130px;*/
	width:260px;
	height:32px;
}

.content{
	margin-top:10%;
	width: 100%;
	height:100%;
	text-align:center;
}


.content2019{
	margin-bottom:5%;
	display:flex;
 	flex-direction: row;
	justify-content:center;
	width:90%;
	margin-top:10%;
	/*width: 100%;
	height:100%;*/
	text-align:center;
	padding:0 5%;
}
.content2019 .bloc{
	margin: auto 2%;
	width:29%;
	}

.content2019 img{
	/*border:2px solid;
	border-color: #000;*/
	max-width:230px;
		max-height:230px;
}

/*
#book{
	background-image: url(images/book_immo.jpg);
	background-size: cover;
}

#buildr{
	background-image: url(images/buildr.jpg);
	background-size: cover;
}
#goodproperty{
	background-image: url(images/GoodProperty.jpg);
	background-size: cover;
}
#fcpr_promotion_immobilier{
	background-image: url(images/FCPR_Select_Promotion.jpg);
	background-size: cover;
}
#pole_immo{
	background-image: url(images/pole_immo.jpg);
	background-size: cover;
}
#vl{
	background-image: url(images/vl.jpg);
	background-size: cover;
}
#FCPR_Portefeuille{
	background-image: url(images/FCPR_Portefeuille.jpg);
	background-size: cover;
}
*/
.prezDistri{
	color: #fff;
	text-transform: uppercase;
	width: 500px;
	height: auto;
	background-color: #000 !important;
	font-size: 28px;
	margin: 5% auto;
}


.avgrund-ready {
	overflow: hidden;
}

.btn_popup{
	border:1px solid;
	border-color: #000;
	padding: 10px;
	color:#000;
	font-size: 19px;
	display: block;
	margin-top: 30px;
}

.content_popup{
	text-align: center;
}